
/*--------------------------------------------------------------
5.0 Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #333;
	font-family: "Donatora", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 32px;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.66;
}

h1 {
	font-size: 48px;
	font-size: 3rem;
	font-weight: 300;
}

h2,
.home.blog .entry-title {
	color: #666;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 300;
}

h3 {
	color: #333;
	font-size: 36px;
	font-size: 2.25rem;
	font-weight: 300;
}

h4 {
	color: #333;
	font-size: 32px;
	font-size: 2rem;
	font-weight: 800;
}

h5 {
	color: #767676;
	font-size: 26px;
	font-size: 1.625rem;
	font-weight: 800;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

h6 {
	color: #333;
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: 800;
}


/*--------------------------------------------------------------
6.0 Forms
--------------------------------------------------------------*/
/* Placeholder text color -- selectors need to be separate to work. */
::-webkit-input-placeholder {
	color: #333;
	font-family: "Donatora", "Helvetica Neue", helvetica, arial, sans-serif;
}

:-moz-placeholder {
	color: #333;
	font-family: "Donatora", "Helvetica Neue", helvetica, arial, sans-serif;
}

::-moz-placeholder {
	color: #333;
	font-family: "Donatora", "Helvetica Neue", helvetica, arial, sans-serif;
	opacity: 1;
	/* Since FF19 lowers the opacity of the placeholder by default */
}

:-ms-input-placeholder {
	color: #333;
	font-family: "Donatora", "Helvetica Neue", helvetica, arial, sans-serif;
}


/*--------------------------------------------------------------
13.4 Posts
--------------------------------------------------------------*/
.page .panel-content .entry-title,
.page-title,
body.page:not(.twentyseventeen-front-page) .entry-title {
	color: #222;
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 800;
	letter-spacing: 0.14em;
	text-transform: uppercase;
}

