@font-face {
    font-family: 'Donatora';
    src: url('Donatora-Bold.woff2') format('woff2'),
        url('Donatora-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Donatora';
    src: url('Donatora.woff2') format('woff2'),
        url('Donatora.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Donatora';
    src: url('Donatora-Italic.woff2') format('woff2'),
        url('Donatora-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Donatora';
    src: url('Donatora-BoldItalic.woff2') format('woff2'),
        url('Donatora-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

